---
import SdepMoneConfig from "app.config";
import MainLayout from "../../layouts/MainLayout.astro";
import  PaymentMethods from "@/components/payments/PaymentMethods";
import GameStore from "@/components/game-store";
import { gameData } from "@/data/game-data";

export async function getStaticPaths() {
  const games = Object.keys(SdepMoneConfig.gameBanner);

  return games.map((game) => ({
    params: { game },
    props: { game },
  }));
}

const { game } = Astro.props ?? {};
const bannerImage = SdepMoneConfig.gameBanner[game];
---

<MainLayout  bannerImage={bannerImage} titleGame={game}>
  <div class="archives">
    <GameStore
      game={game}
      gameData={gameData}
      client:load
    />
  </div>
  <PaymentMethods  client:load/>
</MainLayout>
