---
import SdepMoneConfig from "../../app.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={SdepMoneConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>