---
import "../styles/global.css";
import "./main-layout.css";
import Base from "./BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Banner from "../components/Banner.astro";

import SdepMoneConfig from "../../app.config";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";

export interface Props {
  title?: string;
  subTitle?: string;
  bannerImage?: string;
  slug?: string;
}

const props = Astro.props;
---

<Base>
  <NavBar />

  {
    SdepMoneConfig.bannerStyle == "LOOP" && (
      <Banner
        title={props.title}
        subTitle={props.subTitle}
        bannerImage={props.bannerImage}
        slug={props.slug}
      />
    )
  }

  <div class="main-container my-10">
    <div class="flex flex-row items-start xl:space-x-4">
      <div class="side-bar">
        <SideBar />
      </div>
      <div class="transition-leaving w-full space-y-8">
        <main class="content onload-animation">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </div>
</Base>